html, body {
  -webkit-print-color-adjust: exact;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
}

a {
  cursor: pointer;
}

table.table {
  //font-size: 90%;

  max-width: 100%;
  width: auto;

  th, td {
    text-align: right;
    padding: 2px !important;
    white-space: nowrap;
  }

  thead tr:nth-child(1) th,
  thead tr:nth-child(2) th {
    text-align: center;
  }

  thead th {
    font-size: 95%;
  }

  thead tr:nth-child(1) th:nth-child(1),
  tfoot tr:nth-child(1) th:nth-child(1),
  tbody th:nth-child(1),
  td:nth-child(1) {
    text-align: left;
  }

  tbody th {
    font-weight: normal;
  }
}

.project-level-1 {
  background-color: #DDD;
}
.project-level-2 {
  background-color: #EEE;
}

.project-result {
  background-color: #c6e0b4;
  position: relative;

  .account-details {
    position: absolute;
    right: 50px;
    top: -5px;
    padding: 3px;
    background: #FFF;
    border: 1px solid #888;
    z-index: 100;
    text-align: left;
    opacity: 0.9;
  }
}

.project-number {
  font-size: 80%;
  color: #AAA;
}

.dataset-have-sum {
  font-weight: normal;
}

.project-account {
  td:nth-child(1) {
    font-style: italic;
  }
  td {
    color: #888;
  }
}

.pointer {
  cursor: pointer;
}

.dataset-year {
  label {
    font-weight: bold;
  }
}

.accountList textarea {
  width: 100%;
  height: 300px;
}

#app {
  position: relative;
  min-height: 100%;
  height: 1px;
}

.showMenu {
  position: relative;
  min-width: 600px;
  width: 100%;
  min-height: 100%;
  @media screen {
    overflow-x: hidden;
  }
}

.top-bar {
  background: #e9f3e2;
  overflow: hidden;
  margin: 0 -10px 10px -10px;

  @media print {
    margin: 0 0 10px 0;
  }

  h1 {
    margin: 10px 0;
    display: inline-block;
  }

  a.top-bar-link {
    display: inline-block;
    margin-left: 10px;
  }
}

.menu-toggle {
  position: relative;
  padding: 8px 10px 12px;
  vertical-align: -12px;
  width: 45px;
  display: inline-block;

  @media print {
    display: none;
  }

  .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 4px 0 0 0;
    background: #333333;
    border-radius: 2px;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  background: #d2ddca;
  box-sizing: border-box;
  width: 550px;
  min-height: 100%;
  padding: 0 10px 10px;
  margin: 0 10px 0 0;

  ul {
    padding-left: 20px;
  }
}

.showMenu .menu {
  @media screen {
    display: block;
  }
}

.page-content {
  @media screen {
    padding: 0 10px;
  }
}

.showMenu .page-content {
  @media screen {
    position: relative;
    left: 550px;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .hidden-print {
    display: none;
  }

  .project-number {
    color: #888 !important;
  }

  .project-account td,
  .project-account td * {
    color: #888 !important;
  }

  table .project-level-1 td {
    background-color: #EEE !important;
  }
  table .project-level-2 td {
    background-color: #FAFAFA !important;
  }

  table td.project-result,
  table th.project-result {
    background-color: #c6e0b4 !important;
  }
}
